<div class ="container mt-3">
  <div class = "card">
    <div class = "card-header">
      <span><strong>Customer: </strong>{{customer?.name}}</span>
      <br>
      <span><strong>Customer ID: </strong>{{customerId}}</span>
    </div>
    <div class="card-body">
      <button class = "btn btn-primary" (click)="handleAddAccounts(customerId)">Add account</button>
      <a href="/customers" class = "btn btn-outline-primary" style="margin-left: 3px"><i class ="bi bi-person"></i>Customers</a>
      @if(accounts | async; as accountList){
        @if(accountList.length == 0){
            <div class="fs-3">{{customer?.name}} has no bank accounts. Create a new account.</div>
        } @else {
          <table class = "table table-hover">
            <thead>
            <tr>
              <th>Account ID</th>
              <th>Account type</th>
              <th>Account balance</th>
            </tr>
            </thead>
            <tbody>
              @for(account of accountList; track account.id){
                <tr>
                  <td>{{account.id}}</td>
                  <td>{{account.type}}</td>
                  <td>{{account.balance | number:'1.2-2'}}</td>
                  <td>
                    <button class ="btn btn-info" (click)="handleOperations(account.id)">Operations</button>
                  </td>
                </tr>
              }
            <tr>
              <td colspan="2"><strong>Customer balance: </strong></td>
              <td><strong>{{customerBalance | number:'1.2-2'}}</strong></td>
            </tr>
            </tbody>
          </table>
        }
      }
    </div>
  </div>
</div>
