<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card bg-dark text-light border-secondary shadow-lg text-center p-5" style="max-width: 500px;">
    <div class="display-1 text-danger fw-bold">404</div>

    <h2 class="fw-bold mt-3">Page not found</h2>

    <p class="text-secondary mt-3">
      The page you are requesting does not exist.
      Please contact an administrator if you believe this is a mistake.
    </p>

    <div>
      <a class = "btn btn-info" href="/app/home"><i class ="bi bi-house"></i> Return home</a>
    </div>

  </div>
</div>
