<div class = "container mt-3">
  @if (errorMessage) {
    <div class="card">
      <div class ="card-header">Error loading data</div>
      <div class="card-body">
        <span class = "text-danger">{{errorMessage}}</span>
      </div>
    </div>
  } @else {
    @if(customers | async; as customersList){
      <div class ="card">
        <div class = "card-header text-center fw-bold fs-2">Customers</div>
        <div class="card-body">
          @if(searchFormGroup){
            <form [formGroup]="searchFormGroup" (ngSubmit)="handleCustomerSearch()">
              <div class ="input-group">
                <label class = "input-group-text">Keyword</label>
                <input class="form-control" formControlName="keyword" type = "text" placeholder="Enter search keyword">
                <button class = "btn btn-info">
                  <i class ="bi bi-search"></i>
                </button>
                @if(authService.authenticationState.roles.includes("ADMIN")){
                  <a class="btn btn-outline-primary" href="/app/new-customer"><i class ="bi bi-plus"></i>Add customer</a>
                }
              </div>
            </form>
          }
          <table class = "table">
            <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Email</th>
            </tr>
            </thead>
            <tbody>
              @for (customer of customersList; track customer.id) {
                <tr>
                  <td>{{customer.id}}</td>
                  <td>{{customer.name}}</td>
                  <td>{{customer.email}}</td>
                  <td>
                    <button class="btn btn btn-success" (click)="handleCustomerAccounts(customer)">Accounts</button>
                  </td>
                  @if(authService.authenticationState.roles.includes("ADMIN")){
                    <td>
                      <button class = "btn btn btn-info" (click)="handleCustomerUpdate(customer)">
                        <i class = "bi bi-pencil-square"></i>
                      </button>
                    </td>
                    <td>
                      <button class = "btn btn-danger" (click)="handleDeleteCustomer(customer)">
                        <i class = "bi bi-trash"></i>
                      </button>
                    </td>
                  }
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    } @else {
      Loading.....
    }
  }
</div>
